<router-outlet></router-outlet>

<!-- <app-home *ngIf="isSignedIn" (isLogout)="userLogout()"></app-home> -->

<!-- 
<div *ngIf="!isSignedIn">

  <h2>Sign up</h2>
  <input type="text" #emailSignup>
  <input type="text" #passwordSignup>
  <button (click)="onSignup(emailSignup.value, passwordSignup.value)" >Sign up</button>

</div>

<hr> -->

<!-- <div *ngIf="!isSignedIn">

  <h2>Sign in</h2>
  <input type="text" #email>
  <input type="text" #password>
  <button (click)="onSignin(email.value, password.value)" >Sign in</button>

</div> -->

<button (click)="trackMe()">CLick</button>